.login{
    margin-top: 150px;
    height:400px;
}
.loginPanel{
    background-color:#dadde0;
    padding:50px;
    border-radius: 5px;
}
.submitButton{
    background-color: #256eaa;
    color:white;
}
.loginPage{
    background-color:#6d2d60;
    height:100vh;
}