.login-box{
    position: absolute;
    background: #f7f7f7;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border: 2px solid #ededf1;
    padding: 10px;
    border-radius: 5px;
}
.login-text{
    text-align: center;
}
.form-group label{
    width: 40%;
}
.form-group .form-control{
    display: inline-block;
    width: 58%;
}