.navbar-brand img{
    width: 100px;
    height: 30px;
}
.search-suggestion{
    position: absolute;
    top: 50px;
}
.list-group-item{
    padding: .25rem 1.25rem;
    min-width: 193px;
}

input{
    border-radius:0px; 
}

button{
    border-radius:0px; 
}


.btn-outline-purple{
    color: #d8b7bd;
    background-color: transparent;
    background-image: none;
    border-color: #d8b7bd;
}

.btn-outline-purple:hover{
    color: #6a205f;
    border-color: #6a205f;
    background-color:#d8b7bd ;
   
}
.xebia-logo{
    margin-right: 0px;
    background-color:#e8d7e6;
    width: 150px;
}
.xebia-logo img{
    width: 80%;
    padding: 5px;
}
.xebia-nav{
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    background-color:#6a205f!important;
}
.employee-aside{
    width: 150px;
    position: absolute;
    background: #efeded;
}
.employee-aside ul {
    list-style-type: none;
    padding: 0;
}
.employee-aside ul li{
    color: #6a205f;
    border-bottom: 1px solid grey;
    padding: 5px;
}
.employee-aside ul li:hover{
    color: grey;
    background: #dedcdc;
    cursor: pointer;
}