<div id="nav-section">
    <nav>Hello</nav>
</div>
<div id="view-section" class="row">
    <div class="container">
        <span class="col-3">
            <button class="btn btn-success homebtn"  routerLink="/home/employee"> Employee</button>
        </span>
        <span class="col-3">
            <button class="btn btn-success homebtn" routerLink="/home/project"> Project</button>
        </span>
        <span class="col-3">
            <button class="btn btn-success homebtn"> Report</button>
        </span>
    </div>
</div>