.navbar-brand img{
    width: 100px;
    height: 30px;
}
.nav-link.active{
    border-bottom: 2px solid gray;
}
.search-suggestion{
    position: absolute;
    top: 50px;
}
.list-group-item{
    padding: .25rem 1.25rem;
    min-width: 193px;
}